
.table__container{
    width: 95%;
    padding: 1rem;
    margin-left: 0;
    border-radius: 10px;
    margin-bottom: 1rem;
    box-shadow: 0 2px 8px rgba(2, 0, 4, 0.977);
}

.table__container table {
    margin: auto;
}

.table__container  h3{
    color: #fff;
}

@media screen and (max-width: 990px){
    .table__container{
        width: 90%;
        margin: auto;
    }
}

.table__container h2 {
    color:rgb(13, 173, 13);
}
.table__container thead {
    color: rgb(175, 203, 238);
}
.table__container thead td {
  padding: 5px;
}

.user_no_added{
    color: #fff;
}